<div class="container">
  <div class="d-flex justify-content-end m-5">
   <%= form_tag cocktails_path, method: :get do %>
    <%= text_field_tag :query %>
    <%= submit_tag "Find a cocktail", class: "btn btn-primary"%>
   <% end %>
  </div>
  <div class="card-grid">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 500, crop: :fill %>')">
        <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

