<div class="container">
  <div class="grid-show">
    <div class="card-product card-img-top">
      <div class="d-flex justify-content-center">
      <%= cl_image_tag @cocktail.photo.key, height: 500, width: 400, crop: :fill %>
      </div>
      <h4 class="card-title"><%= @cocktail.name %></h4>
      <div>
        <button id="sweet-delete" class="cross-button"><i class="far fa-times-circle"></i></button>
        <%= link_to "", cocktail_path(@cocktail), method: :delete, id:"delete", class: "hidden" %>
      </div>
    </div>
    <div class="cocktail-description d-flex flex-column justify-content-between">
      <div class="mt-4 ml-4">
        <h3 class="mb-4">Ingredients</h3>
        <% @cocktail.doses.each do |dose|%>
          <ul>
            <li>
              <%= dose.description %>
              <%= Ingredient.find(dose.ingredient_id).name %>
          </li>
          </ul>
        <% end %>
      </div>
      <div>
        <h4>Add an Ingredient</h4>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, input_html: { class: 'select2' } %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h3>Reviews</h3>
    <% @reviews_cocktail.each do |review| %>
        <ul>
          <li>
            <%review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <%= review.content %> <button id="sweet-alert-demo" class="button">X</button> <%= link_to '', cocktail_review_path(@cocktail, review), method: :delete, id: "delete-link", class: "hidden"%>
          </li>
        </ul>
    <% end %>
    <h4>Add a Review</h4>
    <div>
        <%= simple_form_for [@cocktail, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

